body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.UpperSec {
    background-color: rgb(180, 156, 140);
    position: relative;
    padding: 20px;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #3d3d3d;
    opacity: 0;
}

.para1 {
    animation: Fadepara1 15s infinite;

}

.para2 {
    animation: Fadepara2 15s infinite;

}

.para3 {
    animation: Fadepara3 15s infinite;

}

@keyframes Fadepara1 {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    35% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes Fadepara2 {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    45% {
        opacity: 1;
    }

    55% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes Fadepara3 {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    85% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    background-color: #be1035;
}

.butt {
    display: none;
}

.Ownnav {
    display: flex;
    align-items: center;
}



.logo {
    position: relative;
    height: 7rem;
    width: 15rem;
    border-radius: 0.5rem;
    margin-left: 3rem;
}

.search-container {
    position: relative;
    right: 15rem;
    width: 30rem;
    height: 2rem;
}

#search {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 15px;
    border: none;
    border: 2px solid white;
    background-color: #be1035;
    font-size: 16px;
    box-sizing: border-box;
}

#search::placeholder {
    color: white;
}

#search:focus {
    outline: none;
}

#search-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 2rem;
    padding: 10px 15px;
    border: none;
    background-image: url(img/images-removebg-preview.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    border: 2px solid white;
    background-color: #be1035;
    font-size: 16px;
    cursor: pointer;
}

#search-button:hover {
    background-color: #45a049;
}

.visitor-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.visitormain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.visitorLogo {
    margin-top: 1rem;
    height: 5rem;
}

.Visitorpara {
    color: white;
}

.HomeSection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    position: relative;
    margin: 2rem;
}

.HomeSection a {
    position: relative;
    transition: 0.4s ease;
    text-decoration: none;
}

.HomeHover {
    font-size: x-large;
    color: #3d3d3d;
}

.HomeHover:hover {
    color: #be1035;
}

.RunningBanner {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}

.runningbannerimages {
    height: 760px;
}

.Topsellhead {
    margin-top: 3rem;
    text-align: center;
    opacity: 0;
}

@-webkit-keyframes fadeinner {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeinner {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.product {
    border: 1px solid #ccc;
    padding: 20px;
    opacity: 0;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.product p {
    margin-bottom: 10px;
}

.product button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.product button:hover {
    background-color: #0056b3;
}

@-webkit-keyframes slideleft {
    from {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideleft {
    from {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes slideRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.cardupperheading {
    text-align: center;
    margin-top: 5rem;
    font-size: 4.5rem;
}

.cardupperpara {
    text-align: center;
    font: 1.3rem sans-serif;
}

.MaincardHead {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
}

.Cardone {
    padding: 2rem;
    border: lightgray solid 5px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease-in;
    margin-top: 8rem;
    opacity: 0;
}

.Cardone:hover {
    border: #00000088 solid 5px;
    transition: 0.5s ease-out;
}

.cardimages {
    height: 500px;
    width: 275px;
}

.Cardonehead {
    padding-top: 1rem;
}

.cardonepara u:hover {
    cursor: pointer;
    color: #be1035;
    text-decoration: none;
}

@-webkit-keyframes cardslideup {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes cardslideup {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.Cardtwo {
    padding: 2rem;
    border: lightgray solid 5px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease-in;
    margin-bottom: 8rem;
    opacity: 0;
}

.Cardtwo:hover {
    border: #00000088 solid 5px;
    transition: 0.5s ease-out;
}

.Cardtwohead {
    padding-top: 1rem;
}

.cardtwopara u:hover {
    color: #be1035;
    text-decoration: none;
    cursor: pointer;
}

@-webkit-keyframes cardslidedown {
    from {
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes cardslidedown {
    from {
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

footer {
    background-color: #f2f2f2;
    padding: 10px;
}

.content {
    padding: 20px;
}